<div class="card mb-3">
    <div class="card-body">
        <h5><a href="/post/{{post.id}}" class="card-title">{{post.title}}</a></h5>
        <div class="card-text">
            {{post.post_content}}
            <br>
            <span style="font-size: smaller;">
                by {{post.user.username}} on {{post.created_at}}
                <br>
                <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
            </span>
        </div>
    </div>
</div>
{{#if loggedIn}}
<form class="col-sm-6" id="comment-form">
    <div class="form-group" id="comment-form">
    <textarea class="form-control" name="comment-body"></textarea>
</div>
<button type="submit" class="btn btn-success">Add Comment</button>
</form>
{{/if}}
<ul class="list-group-flush">
    {{#each post.comments}}
    <li class="list-group-item">
        {{comment_text}}
        <br>
        <small>{{user.username}} on {{created_at}}</small>
    </li>
    {{/each}}
</ul>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}